/** 
 * Background Images for Projects
 * MUST be in css file for Optimisation 
 */

&.elium {
	background-image: url('src/assets/img/projects/elium/bg.jpg');
}
&.occ {
	background-image: url('src/assets/img/projects/occ/bg.jpg');
}
&.save {
	background-image: url('src/assets/img/projects/save/bg.jpg');
}
&.coupsur {
	background-image: url('src/assets/img/projects/coupsur/bg.jpg');
}