.btn {
	margin-top: 20px;
	border-radius: 30px;
	padding: 9px 37px;
	font-weight: 600;
	font-size: 1em;
	border: 2px #333 solid;
	color: #333;
	text-transform: none;
	background-color: transparent;
	display: inline-block;
	width: auto;
	@include transition(all 0.3s ease);

	&:hover, &:focus, &:active {
		@include box-shadow(none);
		background-color: #333;
		color: #fff;
	}

	&.btn-icon:before {
		font-size: 1.1em;
		vertical-align: middle;
	}

	&.btn-primary {
		border-color: #fff;
		background-color: #fff;

		&:hover, &:focus, &:active {
			border-color: #666;
			background-color: #666;
		}
	}

	&.btn-success {

		&:hover {

		}
	}

	&.btn-danger {

		&:hover {
			
		}
	}
}