.project-carousel {
	position: absolute;
	height: 100%;
	width: 100%;

	a {
		height: 100%;
	}

	#projects {
		height: 100%;
		// Project slide transitions
		@include transition(all 0.7s);
		@include transition-timing-function(cubic-bezier(0.230, 1.000, 0.320, 1.000));

		&.leave {
			.project {
				opacity: 1;
			}

			.project.leaving {
				@include transition(opacity 0.5s);
				opacity: 0;
			}

			.project .content {
				@include transition(opacity 0.3s ease);
				opacity: 0;
			}
		}
	}

	.left, .right {
		position: fixed;
		background-color: #fff;
		text-align: center;
		line-height: 3.3em;
		cursor: pointer;
		border-radius: 60px;
		height: 55px;
		width: 55px;
		margin: 20px;
		bottom: 10px;
		@include box-shadow(0 0 8px rgba(0,0,0,0.1));
		@include transition(transform 0.1s);
		z-index: 10;
		
		&:hover {
			@include scale(1.1);
		}

		img {
			width: 20px;
		}

		&:after {
			position: absolute;
			top: 0;
			left: 0;
			border-radius: 55px;
			display: block;
			height: 100%;
			width: 100%;
			content: '';
			@include transform(scale(1));
			@include transition(0.3s);
			border: 2px solid #fff;
		}

		&:hover {
			&:after {
				@include transform(scale(2));
				opacity: 0;
			}
		}
	}

	.left {
		padding-right: 4px;
	}

	.right {
		right: 0;
		padding-left: 4px;
	}

	.left-area, .right-area {
		width: 100px;
		height: 100%;
		position: fixed;
		top: 0;
		left: 0;
		cursor: pointer;
	}

	.right-area {
		right: 0;
		left: initial;
	}

	.project {
		cursor: pointer;
		display: inline-block;
		width: 33.33333%;
		height: 100%;
		position: absolute;
		background-color: #000;
		overflow: hidden;
		@include transition(width 0.3s);
		
		.bg {
			opacity: 0.95;
			position: absolute;
			height: 100%;
			width: 100%;
			background-size: cover;
			background-position: center;
			@include scale(1.1);
			@include transition(opacity 0.3s, transform 0.3s);

			@import 'bg';
		}
		
		.content {
			color: #fff;
			position: absolute;
			bottom: 23%;
			width: 100%;
			padding: 0 50px;
			padding-right: 200px;
			@include transition(opacity 0.3s ease);
			text-shadow: 0 0 20px rgba(0,0,0,0.1);

			h2 {
				font-size: 3em;
				@include transform(translateY(54px));
				@include transition(all 0.3s ease);
			}

			p {
				opacity: 0;
				color: #fff;
				font-size: 1.1em;
				font-weight: 400;
				@include transform(translateY(5px));
				@include transition(all 0.3s ease);
			}

			span {
				color: #fff;
				font-weight: 700;
				font-size: 0.9em;
				text-transform: uppercase;
			}
		}

		&:hover {
			.bg {
				opacity: 0.8;
				@include scale(1);
			}
			.content {
				p {
					opacity: 1;
					@include transform(translateY(0px));
				}
				h2 {
					@include transform(translateY(0px));
				}
			}
		}
	}
}