form {
	.label-control {
		color: #333;
		font-size: 0.9em;
		font-weight: 500;
	}

	.form-control {
		@include box-shadow(none);
		height: 40px;
		border: #d1d1d1 2px solid;

		&:active, &:focus {
			@include box-shadow(none);
			border: #999 2px solid;
		}
	}

	textarea.form-control {
		height: inherit;
	}

	.btn-file {
		position: relative;
		overflow: hidden;
		background-color: #f2f2f2;
		padding: 10px 0;
		text-align: center;
		border-radius: 4px;
		width: 100%;
		color: #333;
		font-size: 0.9em;
		font-weight: 500;
		text-transform: none;
	}

	.btn-file input[type=file] {
		position: absolute;
		top: 0;
		right: 0;
		min-width: 100%;
		min-height: 100%;
		font-size: 100px;
		text-align: right;
		filter: alpha(opacity=0);
		opacity: 0;
		outline: none;
		background: white;
		cursor: inherit;
		display: block;
	}

	.radio {
		display: block;
		padding: 10px 20px;
		cursor: pointer;
		border: 2px solid #d1d1d1;
		border-radius: 4px;
		margin-bottom: 18px;
		@include transition(all 0.3s);

		&.active {
			border: 2px solid #333;
		}
	}
}