.gallery {
	.content {
		margin-left: -15px;
		margin-right: -15px;
	}

	.item {
		padding: 15px;
		display: inline-block;
		vertical-align: middle;
		margin: 0;

		.item-content {
			background-color: #fff;
			width: 100%;
			background-position: center center;
			cursor: pointer;
			overflow: hidden;
			@include transition(all 0.3s ease);
			@include box-shadow(0 0 12px rgba(0,0,0,0.1));

			img {
				height: 300px;
			}
		}

		&:hover .item-content {
			@include scale(1.02);
		}
	}
}