.home {
	background-color: #222;

	#vector {
		position: absolute;
	}

	.section {
		padding: 60px 0;
	}

	svg {
		width: 140px;
	}
	.title {
		h1 {
			color: #fff;
		}
		span {
			display: block;
			margin-top: 10px;
			font-size: 1.2em;
		}
	}
}