.home .fullpage {
	overflow: hidden;
	margin-top: 0px !important;
	
	#bg {
		background-color: #ffffff;
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
	}

	.section {
		padding: 60px 0;
	}

	svg {
		width: 180px;
	}
	
	.project-link {
		display: block;
	}

	.title {
		margin-bottom: 20px;

		svg {
			width: 40px;
			margin-bottom: 10px;
		}

		h1 {
			font-size: 3em;
		}

		span {
			font-size: 1.6em;
		}
	}
}