.home .fullpage {
	overflow: hidden;
	margin-top: 0px !important;

	canvas {
		background-color: #ffffff;
	}

	.section {
		padding: 60px 0;
	}

	svg {
		width: 180px;
	}

	#bg {
		background: #fff;
		pointer-events: none;
		overflow: hidden;
		position: absolute;
		top: 0;
		left: 0;
	}
	
	.project-link {
		display: block;
	}

	.home-title {
		cursor: pointer;
	}

	.title {
		margin-bottom: 0;
		padding: 50px;	

		svg {
			width: 40px;
		}
	}
}