.lightbox {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.8);
	z-index: 1;
	@include transition(opacity 0.3s)

	.container {
		max-height: 100%;
		position: relative;
		z-index: 1;

		.scroll_content, .slide {
			width: 100%;
		}

		.img-container {
			padding-top: 80px;
			margin: 10px;
			width: 100%;
			@include box-shadow(0 0 10px rgba(0,0,0,0.1));
		}
	}

	.close-zone {
		height: 100%;
		width: 100%;
		cursor: pointer;
		position: absolute;
		top: 0;
		left: 0;
	}

	.controls {
		position: relative;
		z-index: 1;
		.prev, .next, .close {
			cursor: pointer;
			padding: 30px;
			@include transition(all 0.3s)

			&:hover {
				@include scale(1.1);
			}
		}

		svg {
			width: 20px;
			height: 20px;
			polygon, path {
				fill: #fff;
			}
		}

		.prev {
			position: fixed;
			top: 50%;
			left: 0;
		}

		.next {
			position: fixed;
			top: 50%;
			right: 0;
		}

		.close {
			position: fixed;
			top: 20px;
			right: 20px;
			opacity: 1;
		}
	
	}
}