.lightbox {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: #fff;
	z-index: 1;
	@include transition(opacity 0.3s)

	.container {
		height: 100%;
		position: relative;
	}

	.slide {
		position: absolute;	
		height: 100%;
		.slide-content {
			padding-top: 80px;
			height: 100%;
			overflow: auto;
		}
	}

	.controls {
		position: fixed;
		top: 0;
		left: 0;
	}
}