.lightbox {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.8);
	z-index: 1;
	@include transition(opacity 0.3s);

	.container {
		position: relative;
		z-index: 1;
		max-height: 100%;
		height: 100%;
		padding: 0 50px;
		pointer-events: none;
	
		.slide {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			padding: 0 20px;


			.scroll_content {
				height: 100%;
				position: relative;

				.video-container {
					height: 100%;
					width: 100%;
					position: relative;
				}

				.img-container {
					padding-top: 80px;
					width: 100%;
					text-align: center;
				}
			}
		}
	}

	.close-zone {
		height: 100%;
		width: 100%;
		cursor: pointer;
		position: absolute;
		top: 0;
		left: 0;
	}

	.controls {
		position: relative;
		z-index: 1;
		.prev, .next, .close {
			cursor: pointer;
			padding: 30px;
			@include transition(all 0.3s)

			&:hover {
				@include scale(1.1);
			}
		}

		svg {
			width: 20px;
			height: 20px;
			polygon, path {
				fill: #fff;
			}
		}

		.prev {
			position: fixed;
			top: 50%;
			left: 0;
		}

		.next {
			position: fixed;
			top: 50%;
			right: 0;
		}

		.close {
			position: fixed;
			top: 0;
			right: 0;
			opacity: 1;
		}
	
	}
}