.project {
	width: 100%;
	background-color: #fff;

	.hero {
		height: 100%;
		width: 100%;
		position: relative;
		background-color: #fff;

		.v-center {
			position: relative;
		}
		.bg {
			position: absolute;
			top: 0;
			height: 100%;
			width: 100%;
			background-position: 50% 50%;
			background-size: cover;
			opacity: 1;
			@include transition(opacity 0.3s);
			@import 'bg';
		}
		.content {
			color: #fff;

			p {
				color: #fff;
			}
		}
	}

	.section .text {
		max-width: 600px;
		p {
			margin: 30px 0;
		}
	}
}

.technologies {
	margin-top: 20px;

	img {
		width: 40px;
		margin-right: 40px;
		margin-top: 20px;
		margin-bottom: 20px;
	}
}